<a href="https://colab.research.google.com/github/tiaraannisaa/Tugas-Algoritma-Pemrograman/blob/main/Tugas_Pertemuan_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nomor 1 Buatlah program untuk menghitung total pembelian N buah barang dengan harga dan 
jumlah tertentu

In [ ]:
Nama_barang = input('Nama barang = ')
Harga_barang = int(input('Harga barang = '))
Jumlah_barang = int(input('Jumlah barang = '))

Total_harga_barang = Harga_barang * Jumlah_barang
print('Total harga barang adalah Rp %d' %(Total_harga_barang))

Nama barang = Kopi
Harga barang = 5000
Jumlah barang = 5
Total harga barang adalah Rp 25000

Nomor 2 Buatlah program untuk menghitung banyaknya bilangan genap ataupun bilangan ganjil 
dari N buah bilangan yang diinput secara acak

In [62]:
awal = int(input('set nilai awal = '))
akhir = int(input('set nilai akhir = '))
count=0
summ=0
print('Bilangan antara %d dan %d' %(awal,akhir))

for i in range (awal,akhir+1):
  if i % 2 == 0 :
    count=count+1
  else: 
    summ=summ+1
print('Jumlah bilangan ganjil = ', summ)
print('Jumlah bilangan genap = ', count)

set nilai awal = 1
set nilai akhir = 9
Bilangan antara 1 dan 9
Jumlah bilangan ganjil =  5
Jumlah bilangan genap =  4

Nomor 3
 Buatlah program untuk menampilkan bilangan kelipatan 3 diantara bilangan tertentu

In [23]:
awal = int(input('set nilai awal = '))
akhir = int(input('set nilai akhir = '))
print('Bilangan antara %d dan %d' %(awal,akhir))

for i in range (awal,akhir+1,):
  if i % 3 == 0:
    print (i, end= " ")

set nilai awal = 1
set nilai akhir = 10
Bilangan antara 1 dan 10
3 6 9

Nomor 4
Buatlah program untuk menampilkan bentuk bilangan seperti berikut ini:
Bilangan : <input suatu bilangan (misal:5)>
1
12
123
1234
12345

In [44]:
t = ' '

for i in range(1,5+1):
     t += str(i) + ' '
     print(t)

 1
 1 2
 1 2 3
 1 2 3 4
 1 2 3 4 5

Nomor 5
Buatlah program untuk menghitung dan menampilkan bentuk berikut ini:
------------------------------------------------------------------------------------------
No. Nama Mhs N.Tugas N.Kuis N.UTS N.UAS NilaiAkhir
-----------------------------------------------------------------------------------------
1 
2

In [61]:
list_No=[]
list_NamaMhs=[]
list_NTugas=[any]
list_NKuis=[]
list_NUTS=[]
list_NUAS=[]
list_NilaiAkhir=[]

ulang=2
for i in range(ulang) :
      print("data ke - " + str(i+1))
      list_No.append(int(input('masukkan no = ')))

print("---------------------------------------------------------------------------------------")
print("No. Nama Mhs     N.Tugas    N.Kuis     N.UTS     N.UAS     NilaiAkhir")
print("---------------------------------------------------------------------------------------")

for i in range(ulang) :
      print('%s \t' %(list_No[i]))

data ke - 1
masukkan no = 1
data ke - 2
masukkan no = 2
---------------------------------------------------------------------------------------
No. Nama Mhs     N.Tugas    N.Kuis     N.UTS     N.UAS     NilaiAkhir
---------------------------------------------------------------------------------------
1
2

Penjumlahan matrix

In [24]:
a = [
    [9, 7],
    [2, 4],
]
b = [
    [5, 5],
    [1, 3],
]


for x in range(0, len(a)):
  for y in range(0, len(a[0])):
        print(a[x][y] + b[x][y], end='  '),
  print

14  12  3  7